extends layout

block content
    h1= title

    form(action='/' method='post')
        input(type='text' name='name' placeholder='Nom')
        input(type='text' name='address' placeholder='Adresse')
        input(type='number' step='any' name='latitude' placeholder='Latitude')
        input(type='number' step='any' name='longitude' placeholder='Longitude')
        input(type='submit')
